section.dashboard
    div.dashboard-nav
        div.dashboard-menu
            h1 VISITOR
            ul.menu-sub
                li
                    a(href="#")#toggle-menu
                        <i class="fas fa-bars"></i>
                .nav-box1        
                    li.dropdownmenu1
                        a(href="#")
                            <i class="fas fa-tasks"></i>
                        ul.notifi__box
                            li
                                a(href="#") Target Sell
                                p  25%, Deadline 12 june's 13
                            li
                                a(href="#") Troduct Selivery
                                p 45%, Deadline 25 june's 13
                            li
                                a(href="#") Payment Collecttion
                                p 87%, Deadline 12 june's 13
                            li
                                a(href="#") Target Sell
                                p 33%, Deadline 12 june's 13
                            a(href="#") See all task
                            <i class="fas fa-caret-up"></i>
                .nav-box1         
                    li.dropdownmenu1
                        a(href="#")
                            <i class="fas fa-briefcase"></i>
                        ul.notifi__box
                            li
                                a(href="#") Target Sell
                                p  25%, Deadline 12 june's 13
                            li
                                a(href="#") Troduct Selivery
                                p 45%, Deadline 25 june's 13
                            li
                                a(href="#") Payment Collecttion
                                p 87%, Deadline 12 june's 13
                            li
                                a(href="#") Target Sell
                                p 33%, Deadline 12 june's 13
                            a(href="#") See all task
                            <i class="fas fa-caret-up"></i>
        
        div.dashboard-search
            <div class="search-box">
                <input class="input-box" type="text" placeholder="search something">
                <a class="search-btn" href="#">
                    <i class="fas fa-search"></i>
                </a>
            </div>
            ul.menu-sub
                .nav-box1 
                    li.dropdownmenu1
                        a(href="#")
                            <i class="far fa-list-alt"></i>
                            span 1
                        ul.notifi__box
                            li
                                a(href="#") Target Sell
                                p  25%, Deadline 12 june's 13
                            li
                                a(href="#") Troduct Selivery
                                p 45%, Deadline 25 june's 13
                            li
                                a(href="#") Payment Collecttion
                                p 87%, Deadline 12 june's 13
                            li
                                a(href="#") Target Sell
                                p 33%, Deadline 12 june's 13
                            a(href="#") See all task
                            <i class="fas fa-caret-up"></i>
                .nav-box1 
                    li.dropdownmenu1
                        a(href='#')
                            <i class="far fa-envelope"></i>
                            span 99
                        ul.notifi__box
                            li
                                a(href="#") Target Sell
                                p  25%, Deadline 12 june's 13
                            li
                                a(href="#") Troduct Selivery
                                p 45%, Deadline 25 june's 13
                            li
                                a(href="#") Payment Collecttion
                                p 87%, Deadline 12 june's 13
                            li
                                a(href="#") Target Sell
                                p 33%, Deadline 12 june's 13
                            a(href="#") See all task
                            <i class="fas fa-caret-up"></i>
                .nav-box1 
                    li.dropdownmenu1
                        a(href="#")
                            <i class="far fa-bell"></i>
                            span 2
                        ul.notifi__box
                            li
                                a(href="#") Target Sell
                                p  25%, Deadline 12 june's 13
                            li
                                a(href="#") Troduct Selivery
                                p 45%, Deadline 25 june's 13
                            li
                                a(href="#") Payment Collecttion
                                p 87%, Deadline 12 june's 13
                            li
                                a(href="#") Target Sell
                                p 33%, Deadline 12 june's 13
                            a(href="#") See all task
                            <i class="fas fa-caret-up"></i>
        div.profile
            div.profile__img
                img(src="../../../dist/assets/images/5699c0e76c8947eca373e74dcff7c791.webp", alt="")
            div.profile__name 
                h3 John Wick
    .row
        div.dashboard-sidebar#toggleclick
            ul.sidebar-menu
                li.sidebar-item
                    a(href="#")
                        <i class="fas fa-tachometer-alt"></i> Dashboard
                .nav-box
                    li.sidebar-item.dropdownmenu
                        a(href="#")
                            <i class="fab fa-elementor"></i> UI Elements
                        <i class="fas fa-chevron-right"></i>
                    ul.sibar-menu-sub
                        li.sibar-menu-item
                            a(href="#") Typography
                        li.sibar-menu-item
                            a(href="#") Glyphicon
                        li.sibar-menu-item
                            a(href="#") Grids
                li.sidebar-item
                    a(href="#")
                        <i class="fas fa-bullhorn"></i> Fonts Awesome
                li.sidebar-item
                    a(href="#")
                        <i class="fas fa-th"></i> Data Tables
                .nav-box
                    li.sidebar-item.dropdownmenu
                        a(href="#")
                            <i class="fas fa-server"></i> Form components
                        <i class="fas fa-chevron-right"></i>
                    ul.sibar-menu-sub
                        li.sibar-menu-item
                            a(href="#") Typography
                        li.sibar-menu-item
                            a(href="#") Glyphicon
                        li.sibar-menu-item
                            a(href="#") Grids
                li.sidebar-item
                    a(href="#")
                        <i class="fas fa-envelope"></i> Mail
                    <i class="fas fa-chevron-right"></i>
                li.sidebar-item
                    a(href="#")
                        <i class="fas fa-chart-bar"></i> Charts
                    <i class="fas fa-chevron-right"></i>
                li.sidebar-item
                    a(href="#") 
                        <i class="fas fa-map-marked-alt"></i>Maps
                    <i class="fas fa-chevron-right"></i>
                li.sidebar-item
                    a(href="#")
                        <i class="fas fa-glass-martini-alt"></i> Extra
                    <i class="fas fa-chevron-right"></i>


        div.content#toggleclicka
            .responsive-table
                .table.table-hover.tbody-light.thead-dark
                    .thead
                        .wrapper-table
                            .item-table
                                p.name-head #
                            .item-table    
                                p.name-head First
                            .item-table    
                                p.name-head Last
                            .item-table
                                p.name-head Handle
                            .item-table
                                p.name-head Handle2
                            .item-table
                                p.name-head Handle3
                            .item-table
                                p.name-head Handle4                       
                    .tbody
                        .wrapper-table
                            .item-table
                                p 1
                            .item-table
                                p Mark
                            .item-table
                                p Otto
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo            
                        .wrapper-table
                            .item-table
                                p 2
                            .item-table
                                p Mark
                            .item-table
                                p Otto
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo                    
                        .wrapper-table
                            .item-table
                                p 3
                            .item-table
                                p Mark
                            .item-table
                                p Otto
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo            
                        .wrapper-table
                            .item-table
                                p 4
                            .item-table
                                p Mark
                            .item-table
                                p Otto
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo            
                        .wrapper-table
                            .item-table
                                p 1
                            .item-table
                                p Mark
                            .item-table
                                p Otto
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo            
                        .wrapper-table
                            .item-table
                                p 2
                            .item-table
                                p Mark
                            .item-table
                                p Otto
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo                    
                        .wrapper-table
                            .item-table
                                p 3
                            .item-table
                                p Mark
                            .item-table
                                p Otto
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo  
                        .wrapper-table
                            .item-table
                                p 3
                            .item-table
                                p Mark
                            .item-table
                                p Otto
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo  
                        .wrapper-table
                            .item-table
                                p 3
                            .item-table
                                p Mark
                            .item-table
                                p Otto
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo  
                        .wrapper-table
                            .item-table
                                p 3
                            .item-table
                                p Mark
                            .item-table
                                p Otto
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo  
                        .wrapper-table
                            .item-table
                                p 3
                            .item-table
                                p Mark
                            .item-table
                                p Otto
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo  
                        .wrapper-table
                            .item-table
                                p 3
                            .item-table
                                p Mark
                            .item-table
                                p Otto
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo  
                        .wrapper-table
                            .item-table
                                p 3
                            .item-table
                                p Mark
                            .item-table
                                p Otto
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo  
                        .wrapper-table
                            .item-table
                                p 3
                            .item-table
                                p Mark
                            .item-table
                                p Otto
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo  
                        .wrapper-table
                            .item-table
                                p 3
                            .item-table
                                p Mark
                            .item-table
                                p Otto
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo  
                        .wrapper-table
                            .item-table
                                p 3
                            .item-table
                                p Mark
                            .item-table
                                p Otto
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo  
                        .wrapper-table
                            .item-table
                                p 3
                            .item-table
                                p Mark
                            .item-table
                                p Otto
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo
                            .item-table
                                p @mdo                                                                                      
                    .tfoot
                        .wrapper-table
                            .item-table
                                p Tổng
