.container
    .responsive-table
        .table.table-hover.tbody-light
            .thead.table-orange
                .wrapper-table
                    .item-table
                        p.name-head #
                    .item-table    
                        p.name-head First
                    .item-table    
                        p.name-head Last
                    .item-table
                        p.name-head Handle
                    .item-table
                        p.name-head Handle2
                    .item-table
                        p.name-head Handle3
                    .item-table
                        p.name-head Handle4                       
            .tbody
                .wrapper-table
                    .item-table
                        p 1
                    .item-table
                        p Mark
                    .item-table
                        p Otto
                    .item-table
                        p @mdo
                    .item-table
                        p @mdo
                    .item-table
                        p @mdo
                    .item-table
                        p @mdo            
                .wrapper-table
                    .item-table
                        p 2
                    .item-table
                        p Mark
                    .item-table
                        p Otto
                    .item-table
                        p @mdo
                    .item-table
                        p @mdo
                    .item-table
                        p @mdo
                    .item-table
                        p @mdo                    
                .wrapper-table
                    .item-table
                        p 3
                    .item-table
                        p Mark
                    .item-table
                        p Otto
                    .item-table
                        p @mdo
                    .item-table
                        p @mdo
                    .item-table
                        p @mdo
                    .item-table
                        p @mdo            
                .wrapper-table
                    .item-table
                        p 4
                    .item-table
                        p Mark
                    .item-table
                        p Otto
                    .item-table
                        p @mdo
                    .item-table
                        p @mdo
                    .item-table
                        p @mdo
                    .item-table
                        p @mdo            
                .wrapper-table
                    .item-table
                        p 5
                    .item-table
                        p Mark
                    .item-table
                        p Otto
                    .item-table
                        p @mdo
                    .item-table
                        p @mdo
                    .item-table
                        p @mdo
                    .item-table
                        p @mdo            
                .wrapper-table
                    .item-table
                        p 6
                    .item-table
                        p Mark
                    .item-table
                        p Otto
                    .item-table
                        p @mdo
                    .item-table
                        p @mdo
                    .item-table
                        p @mdo
                    .item-table
                        p @mdo                    
                .wrapper-table
                    .item-table
                        p 7
                    .item-table
                        p Mark
                    .item-table
                        p Otto
                    .item-table
                        p @mdo
                    .item-table
                        p @mdo
                    .item-table
                        p @mdo
                    .item-table
                        p @mdo      
            .tfoot
                .wrapper-table
                    .item-table
                        p Tổng
